/*
    Coming Soon
*/
.coming-soon{
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 7% 15px 0 15px;
    background: url('../images/coming-soon/background.jpg') no-repeat center center;
    @include background-cover();
    .box{
        a{
            display: inline-block;
            img{
                display: block;
                margin: 0 auto 20px auto;
            }
        }
        h3{
            padding-bottom: 15px;
            font-size: 48px;
            line-height: 45px;
            @include font-black();
        }
        h5{
            padding: 0 30% 75px 30%;
            font-family: 'Quicksand', sans-serif;
            font-size: 16px;
            line-height: 25px;
            color: #b1b1b1;
            @include font-regular();
        }
        >p{
            padding: 0 15% 95px 15%;
            font-size: 16px;
            color: #f8f8f8;
            @include font-regular();
        }
        .count-down{
            margin-bottom: 60px;
            li{
                min-width: 170px;
                padding: 0 55px;
                position: relative;
                display: inline-block;
                span{
                    font-family: 'Titillium Web', sans-serif;
                    font-size: 36px;
                    line-height: 35px;
                    color: #f8f8f8;
                    @include font-black();
                    &.dot{
                        position: absolute;
                        right: -4px;
                        top: 0;
                    }
                }
                p{
                    padding-top: 5px;
                    font-size: 14px;
                    color: #f8f8f8;
                    @include font-regular();
                }
            }
        }
        form{
            .uk-form-icon{
                width: 585px;
                input{
                    width: 100%;
                    background: transparent;
                    border: 1px solid #846911;
                    height: 45px;
                    line-height: 45px;
                    padding: 5px 150px 5px 30px;
                }
                .brick-button{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    button{
                        border: none;
                        line-height: 45px;
                        &:hover{
                            background: #f9af0f;
                            color: $default-text;
                        }
                    }
                }
            }
        }
    }
}
