////[Table of contents]

////1. Color

////[End table of contents]

//// 1. Color codes ------------------------------------------------ */

//// #f9bf0f, #056163

$primary-color-yellow: #f9bf0f;
$primary-color-darkgreen: #056163;

$default-text: #ffffff;
$black-text: #000000;
$second-text: #4e5453;